<%- include('partials/header') %>

    <div class="row">

     <%- include('partials/leftMenu') %>

      <section class="col-lg-9">

        <div class="row">

          <% for(const figurine of figurines) { %>

          <article class="col-lg-4 col-md-6 mb-4" itemscope itemtype="https://schema.org/Product">
            <div class="card h-100">
              <header>
                <a itemprop="url" href="/article/<%=figurine.id%>">
                  <img itemprop="image" class="card-img-top" src="/images/<%=figurine.name.toLowerCase()%>.png" alt="Image de figurine <%=figurine.name%>">
                  <div itemprop="category" class="badge-category badge badge-pill badge-<%=figurine.category.toLowerCase()%>"><%=figurine.category%></div>
                </a>
              </header>
              <div class="card-body">
                <h3 class="card-title h4" itemprop="name">
                  <a href="/article/<%=figurine.id%>"><%=figurine.name%></a>
                </h3>
                <h4 class="h5" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                  <span itemprop="priceCurrency">€</span>
                  <span itemprop="price"><%=figurine.price%></span>
                </h4>
                <p class="card-text" itemprop="description"><%=figurine.description%></p>
              </div>
              <footer class="card-footer">
                <span class="small text-muted" itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
                  <meta itemprop="worstRating" content="0">
                  <meta itemprop="bestRating" content="5">
                  <meta itemprop="ratingValue" content="<%=figurine.avgnote%>">
                  <% for(let index=1; index<=5;index++) { %>
                    <% if(index <= figurine.avgnote) { %>
                      &#9733;
                    <% } else { %>
                      &#9734;
                   <% } %>
                  <% } %>
                </span>
                <a href="/bookmarks/add/<%=figurine.id%>" class="link-add-bookmarks">+ Ajouter aux favoris</a>
              </footer>
            </div>
          </article>

        <% } %>

        </div>
        <!-- /.row -->

      </section>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

 <%- include('partials/footer') %>
