<%- include('partials/header') %>

      <div class="row">
        <div class="col">
          <%# Détail SEO non fait, cette page ne sera pas indexée, ajout fichier robots.txt)%>
          <h1 class="text-center">Votre liste de préférences</h1>

          <table class="table">
            <thead>
              <th>Article</th>
              <th>Prix</th>
              <th></th>
            </thead>
            <tbody>
              <% for(const bookmark of bookmarks) { %>
              <tr>
                <td>
                  <img class="img-thumbnail img-cart-list" src="./images/<%=bookmark.name.toLowerCase()%>.png" alt="Image de la figurine <%=bookmark.name%>">
                  <div class="item-description">
                      <h5 class="item-title"><%=bookmark.name%></h5>
                  </div>
                </td>

                <td>
                  <p class="item-subtotal">€<%=bookmark.price%></p>
                </td>

                <td>
                  <a href="/bookmarks/delete/<%=bookmark.id%>">Enlever de la liste</a>
                </td>
              </tr>
              <% } %>

          </table>

          <div class="row">
            <div class="col text-right">
                <a class="btn btn-success" href="/">
                  Retour à l'accueil
                </a>
            </div>
          </div>

        </div>
      </div>

  <%- include('partials/footer') %>